wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
ap_password: "YourFallbackAPPassword"
api_key: "YourESPHomeAPIKey"
ota_password: "YourOTAPassword"
web_username: "YourAdminUsername"
web_password: "YourWebServerPassword"
